// COLORS

$color-background-1: #04b2f6;
$color-background-2: #0d78e5;
$color-background-3: #1563c6;

$color-bg-Sidebar: #1a8be4;
$color-hover: #1563c6;
$color-highlight: #00bdff;

$color-primary: #ffba00;
$color-secondary: #01beff;

$color-text: #FFFFFF;

$color-btn-1: #1f86ff;
$color-btn-2: #403ead;
$color-btn-3: #ff5f5f;