@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.stake{

    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2rem;

    &__notice{
        overflow: hidden;
        display: flex;
        gap: 2rem;
    }
    &__overview{
        // background-color: orangered;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        @include response (tab-port){
            grid-template-columns: 1fr;
        }
    }
    &__history{
        // background-color: palegreen;
        .heading{
            font-size: 1.8rem;
        }

        .table{
            background-color: #0c75c58a;
            font-size: 1.6rem;
            font-weight: 300;
            padding: .5rem;
            border-radius: 1.2rem;
            width: 100%;
            border-spacing: 0;
            overflow-x: scroll;
            white-space: nowrap;
            display: block;
            
            &__head{
                text-align: left;
                text-transform: uppercase;
                background-color: #0262ac8a;
                height: 4rem;
                
                .first-th{
                    border-radius: 1rem 0 0 1rem;
                    
                }
                .last-th{
                    border-radius: 0 1rem 1rem 0;
                    
                }
            }
            &__body{
                height: 4rem;
                .td-last{
                    display: flex;
                    gap: 1.5rem;
                }
            }

            th, td{
                padding: .5rem 1.5rem;
            }
            td{
                border-bottom: 1px solid rgba(255, 255, 255, 0.199);
            }
            .token-icon{
                width: 2.5rem;
            }
        }
    }
}