@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.notice{
    background-color: $color-background-3;
    width: 70rem;
    height: 25rem;
    border-radius: 2rem;

    position: relative;
    overflow: hidden;

    @include response(phone){
        width: 100%;
        height: 70rem;
    }

    .bg-layer{
        position: absolute;
        top: -5rem;
        width: 70rem;
        height: 45rem;

        @include response(phone){
            top: 30rem;
            right: 0;
            width: 90rem;
            height: 55rem;
        }
    }

    .content{
        height: 100%;
        padding: 2rem 4rem;

        position: relative;
    }

    .heading{
        font-size: 4rem;
        font-weight: 300;

        @include response(phone){
            font-size: 6rem;
        }

        .highlight{
            color: $color-highlight;
        }
    }
    .text{
        font-size: 1.6rem;

        @include response(phone){
            font-size: 2.5rem;
        }
    }
}